.geToolbar .geButton {
	border-color:pink;
	filter: chroma(color=pink)alpha(opacity=50);
}
.geToolbar .geLabel {
	border-color:pink;
	filter:chroma(color=pink)alpha(opacity=50);
}
.geToolbar .geDisabled {
	filter:chroma(color=pink) alpha(opacity=20) !important;
}
.geToolbar .disabled:hover {
	border-color:pink !important;
	filter:chroma(color=pink) alpha(opacity=20) !important;
}
.geSidebar .geItem {
	border-color:pink !important;
	filter:chroma(color=pink) !important;
}
td.mxPopupMenuIcon .geIcon {
	border-color:pink !important;
	filter:chroma(color=pink) !important;
}
/* iKOS */
.entry-link {
    background: url(editor/embedurl.png);
    background-size: 21px 21px;
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
}

.maximaWin {
    background: url(editor/max.png);
    background-size: 21px 21px;
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
}

.resumeWin {
    background: url(editor/min.png);
    background-size: 21px 21px;
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
}